{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings {% if category %} / {{ category }} {% endif %}</h2>

    {% if auctions %}
        {% for auction in auctions %}
            <div class="card mb-3">
                <div class="row">
                <div class="col-md-2">
                    <img src="{{ auction.image }}" class="img-fluid rounded-start" alt="{{ auction.title }}" width="100%" height="100%">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <a href="{% url 'auctionDetails' auction.id %}" style="text-decoration: none;">
                            <h5 class="card-title" style="font-weight: 600;">{{ auction.title }}</h5>
                        </a>
                        <p class="card-text">{{ auction.description }}</p>
                        <p class="card-text"><span style="font-weight: 600;">Price: </span>${{ auction.lastBid }}</p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <h4>No auctions listed.</h4>
    {% endif %}
{% endblock %}